<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}FS Analyzer!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="#" class="site_title"><i class="fa fa-paw"></i> <span>FS Analyzer!</span></a>
            </div>

            <div class="clearfix"></div>
        {% block menu_profile %}{% endblock %}<br />
        {% block menu_sidebar %}{% endblock %}
        {% block menu_footer %}{% endblock %}</div>
        </div>
        {% block top %}{% endblock %}</div>
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}</div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
